# General
USER_ID=1000
GROUP_ID=1000
LOCAL_NETWORK=192.168.1.0/24

# OpenVPN
# folder on the host where the .opvn file are located
OPENVPN_PROFILE_PATH=/home/media/mount/config/openvpn
# .opvn file to use, no need to specified the .opvn extension
OPENVPN_CONFIG_FILE=es34.nordvpn.com.tcp443
OPENVPN_OPTS=--inactive 3600 --ping 10 --ping-exit 60

# Transmission
TRANSMISSION_CONFIG_PATH=/home/media/mount/config/transmission
TRANSMISSION_DOWNLOAD_PATH=/home/media/mount/downloads

# Jackett
JACKETT_CONFIG_PATH=/home/media/mount/config/jackett
JACKETT_DOWNLOAD_PATH=/home/media/mount/downloads

# Sonarr
SONARR_CONFIG_PATH=/home/media/mount/config/sonarr
SONARR_VIDEO_PATH=/home/media/mount/video/Series
SONARR_DOWNLOAD_PATH=/home/media/mount/downloads

# Radarr
RADARR_CONFIG_PATH=/home/media/mount/config/sonarr
RADARR_VIDEO_PATH=/home/media/mount/video/Movies
RADARR_DOWNLOAD_PATH=/home/media/mount/downloads